#loader-container {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.loader {
  border: 10px solid rgba(0, 0, 0, 0.1);
  border-left-color: #40B2CF;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#custom-settings #top {
  display: flex;
  justify-content: space-between;
}

#custom-settings #select-event {
  align-content: center;
}

#custom-settings #dropdown {
  margin-left: 10px;
  padding: 8px;
  border: 2px solid #40b2cf;
  border-radius: 5px;
  font-family: 'Open Sans';
}

#custom-settings #save {
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'Open Sans';
  font-size: 18px;
  letter-spacing: 1px;
}

#custom-settings #save:not(:disabled) {
  color: white;
  background-color: #40b2cf;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

#custom-settings h4 {
  text-align: center;
}

#custom-settings h5 {
  color: #40b2cf;
}

#custom-settings table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

#custom-settings th,
#custom-settings td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#custom-settings th {
  background-color: #f4f4f4;
}

#custom-settings input[type="number"] {
  padding: 8px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-family: 'Open Sans';
}

#event-registration .custom-modal {
  max-width: 50%;
  max-height: 50%;
  border-radius: 5px;
  border-color: transparent;
  overflow: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#event-registration .modal-content {
  margin: 20px;
}

#event-registration .modal-button {
  float: right;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
}

#event-registration .modal-button#complete {
  margin-left: 10px;
  font-weight: bold;
}

#event-registration #join-waitlist {
  margin-left: 5px;
  padding: 10px;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
}

#event-registration .custom-alert {
  background-color: rgba(64, 178, 207, 0.1);
  padding: 15px 25px;
  margin-bottom: 30px;
  font-size: 16px;
}

#event-registration .custom-alert h4 {
  margin-top: 0;
  margin-bottom: 5px;
  text-align: left;
}

#event-registration .custom-alert a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

#event-registration .custom-alert {
  background-color: rgba(64, 178, 207, 0.1);
  border-left: 5px solid #40b2cf;
  padding: 16px;
  margin: 8px;
  display: flex;
  gap: 18px;
}

#event-registration .alert-icon {
  font-size: 48px;
  color: #ED1C24;
}

#event-registration .alert-content {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#event-registration .alert-title {
  margin: 0;
  text-align: left;
}

#event-registration .alert-link {
  color: #40b2cf;
  text-decoration: underline;
  font-weight: bold;
}

#event-registration .alert-button {
  width: fit-content;
  margin-top: 16px;
  padding: 8px 16px;
  color: white;
  background-color: #40b2cf;
  font-weight: bold;
  border-radius: 4px;
  text-decoration: none;
}